.fondo{
    background-color: rgba(82, 134, 248, 1);
    padding: 7%;
    margin: 10px;            
}
        
.texto{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin: 5%;
    background-color: rgba(188, 179, 179, 0.43);
    color: yellow;
}
.boton{
    background-color: blue;
    color: yellow;
    padding: 2%;
    margin: 2px;
    display: flex;
    justify-content: center;
}
.boton:hover{
    background-color: rgb(164, 15, 164);
}

.boton1{
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 2%;
}

#boton2{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}
.ti{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 2%;
     position: absolute; top: 300px;
}
.tu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    position: absolute; left: 1000px; top: 300px;
    width: 100;
    height: max-content;
}

/*ingresa_cliente*/
.ola {
    background-color: rgba(188, 179, 179, 0.43);
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightyellow;
}

#fondo {
    background-color: rgba(82, 134, 248, 1);
}

#cut {
    padding: 20%;
    position: relative;
    left: 250px;
}

#lol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#sum {
    background-color: aqua;
    border-radius: 20px;
    width: 100%;
    height: 30px;
}

.spa {
    display: flex;
    justify-content: space-around;
}

.membre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    position: absolute; top: 300px; right: 100px;
    color: black;
}
.mem{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 2%;
   position: absolute; left: 100px; top: 300px;
   width: 100;
   height: max-content;
   color: black;
}
